<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212634223464-ei4uo4dc1vj61nqlh44kigaqqgs63fn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212634223464-ei4uo4dc1vj61nqlh44kigaqqgs63fn9</string>
	<key>API_KEY</key>
	<string>AIzaSyDcfxniC0GpB8qMMPsSDqdZGEVlFbw_sJA</string>
	<key>GCM_SENDER_ID</key>
	<string>212634223464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.genki.IWannaGo</string>
	<key>PROJECT_ID</key>
	<string>iwannago-1588660224342</string>
	<key>STORAGE_BUCKET</key>
	<string>iwannago-1588660224342.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212634223464:ios:bc017556362cf645a4ccdd</string>
	<key>DATABASE_URL</key>
	<string>https://iwannago-1588660224342.firebaseio.com</string>
</dict>
</plist>